#background {
  height: 725px;
}
body {
  background-color: white;
   
}
header {
  background-color:rgba(88, 167, 194, 0.7);
}
nav a:hover {
  background-color: white;
  text-decoration: none;
}

.logo{
  width: 80px;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
}
.icon{
  width: 80px;
}
#content{
  max-width: 1600px;
  text-align: center;
}
footer p a:hover {
font-size: 1.2em;
text-decoration: none;
}
h1, h2, p {
  text-align: center;
}
.card-img{
  border: 10px solid #a3c6d9;
}
hr{
  height: 2px;background-color: brown;
  border-color: brown;
}
main section img{
  box-sizing: border-box;
}