#background {
  height: 725px;
  background-color: burlywood;
}
body {
  background-color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgba(88, 167, 194, 0.7);
}
nav a:hover {
  background-color: white;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: green;
  text-align: center;
  padding: 35px;
}
.logo {
  width: 80px;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
#content {
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
}
footer p a:hover {
  background-color: white;
  font-size: 1.2em;
  text-decoration: underline;
}
footer a {
  text-decoration: none;
  color: green;
}
footer {
  background-color: gray;
  margin-top: 200px;
  padding: 25px 50px;
}
footer .social img {
  padding-top: 15px;
}
h1,
h2,
p {
  text-align: center;
}
h2 {
  margin: 0;
}
.card-img {
  border: 10px black;
}

main section img {
  box-sizing: border-box;
  text-align: center;
}
.home-title {
  color: green;
  font-family: Roboto, impact, arial;
  font-size: 2em;
  margin-top: 10px;
}
.msg {
  background-color: #6f7364;
  line-height: 1.5em;
  padding: 35px;
}
.msg p {
  color: aqua;
  padding-bottom: 15px;
  font-size: .8em;
}
.msg h2 {
  color: green;
}
.book,
.join {
  background-color: brown;
  color: aqua;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.join {
  border: 10px;
  margin-top: 50px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
  color: burlywood;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
#hero-img {
  width: 100%;
}
.button-box {
  text-align: center;
}
.book:hover,
.join:hover {
  background-color: blue;
}
h4 {
  color: aqua;
}
#logo_link {
  padding-top: 5px;
}
.mountains {
  padding-top: 25px;
}
