#background {
  height: 725px;
}
body {
  
  background-image:url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg); 
}
header {
  background-color:rgba(88, 167, 194, 0.7);
}
nav a:hover {
  background-color: black;
}
.icon {
  width: 80px;
}
